<!DOCTYPE html>
<html lang="ru">
        <head>
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="description" content="%description%"></meta>
                <meta name="keywords" content="%keywords%"></meta>
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
<h3>Трансляция камеры на сайте </h3>
<script src="http://chelsi174.ru/foto/jpuery-1-8-3.js"></script>

<!--noindex-->
    <style type="text/css">
    .cam-wrapper {
            text-align: left;
          }
            .cam {
                display: inline-block;
                margin: 1px 100px 1px 1px;
                cursor: pointer;
                width: 280px;
                height: 210px;
                border: 2px solid red;
                border-radius: 10px;
                }
    </style>
    <script>


        setInterval(function () {

                $(".cam").each(function (index) {
                var obj = $(this);
                d = new Date();
                var bg = obj.css("background-image").match(/((http|https):\/\/.*(jpg|png|gif)).*/i)[1] + '?random=' + d.getTime();
                console.log(bg);
                $('<img/>').attr('src', bg).load(function () {
                $(this).remove();
                obj.css('background-image', 'url(' + bg + ')');
                 });
                             });
                                     }, 1000);



    </script>


<div class="cam-wrapper">
<div class="cam" onclick="window.open('http://chelsi174.ru/foto/sk1.jpg')" style="background: url(http://chelsi174.ru/foto/sk1a.jpg)100% 100% no-repeat;   background-size: cover;">
            </div>
            </div>

<!--noindex-->


</header>
  <!-- .header-->


 <p><a href="http://chelsi174.ru/foto/sk1/site/">Самые последние фотографии</a>
(Фотографии с камеры за текущий час)</p>
<p>Далее по дням</p>

<a href=http://chelsi174.ru/foto/sk1/16.07>16.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/17.07>17.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/18.07>18.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/19.07>19.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/20.07>20.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/21.07>21.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/22.07>22.07</a><br />
<a href=http://chelsi174.ru/foto/sk1/23.07>23.07</a><br />
